.admin {
  &__reviews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  &__review {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__name {
      font-weight: bold;
    }
    &__text {
      color: rgb(66, 60, 60);
      margin-bottom: 5px;
    }
    &__buttons {
      margin-top: auto;
      display: flex;
      gap: 20px;
    }
    &__button {
      background: none;
      border: none;
      cursor: pointer;
      transition: 0.1s ease-in-out;
      &:hover {
        transform: scale(1.05);
      }
      & > img {
        width: 25px;
        height: 25px;
      }
    }
  }
}
