.rating {
  display: flex;
  gap: 2px;
  &__button {
    background: none;
    border: none;
    cursor: pointer;
    &--active {
      transform: scale(1.1);
    }
    &--disabled {
      opacity: 0.5;
    }
  }
  & svg {
    width: 15px;
    height: 15px;
    padding: 2px;
    overflow: visible;
    transition: 0.4s ease-in-out;
  }
}

.modal__form {
  & .rating {
    background: rgba(0, 90, 81, 0.252);
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 10px -10px 30px 1px rgba(245, 255, 99, 0.2);
    & > button {
      opacity: 1;
    }
  }
}
