.admin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  &__buttons {
    margin-left: 30px;
    display: flex;
    gap: 5px;
    & button {
      background: none;
      border: 1px solid black;
      border-radius: 2px;
      padding: 5px 10px;
      cursor: pointer;
      transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      &:hover {
        background: rgb(116, 116, 116);
        color: white;
      }
      &.admin__button--active {
        background: black;
        color: white;
        border: 2px solid rgb(50, 0, 159);
      }
    }
  }
  &__form {
    display: flex;
    flex-direction: column;

    & > label {
      margin-bottom: 5px;
      font-weight: bold;
    }
    & > input,
    select {
      margin-bottom: 20px;
    }
  }
}
.users {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 60vh;
  overflow-y: auto;
}
.user {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
