.header {
  padding: 20px 0;
  background: rgb(91, 91, 91);
  width: 100vw;
  overflow: hidden;
  &__list {
    display: flex;
    align-items: center;
    gap: 60px;
  }
  &__menu {
    display: flex;
    align-items: center;
    width: 100%;
  }
  &__item {
    color: black;
    position: relative;

    &::after {
      box-sizing: content-box;
      content: "";
      position: absolute;
      height: 2px;
      border-radius: 40px;
      width: 110%;
      left: 0;
      bottom: -4px;
      display: block;
      background: black;
      transform: scaleX(0) translateX(-5%);
      transform-origin: 0 0;
      transition: 1.5s cubic-bezier(0.19, 1, 0.22, 1);
      opacity: 0;
    }
    &--active {
      font-weight: bold;
      transform: translateY(-4px) scale(1.05);

      &::after {
        content: "";
        position: absolute;
        height: 2px;
        border-radius: 40px;
        width: 110%;
        left: 0;
        bottom: -4px;
        display: block;
        background: black;
        transform: translateX(-5%) scaleX(1);
        opacity: 1;
      }
    }
    &:hover {
      &::after {
        transform: scaleX(1) translateX(-5%);
        opacity: 1;
      }
    }
  }
}
.lk {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 50px;
  &__cart {
    background: none;
    border: none;
    position: relative;
    cursor: pointer;
    transition: 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    &:hover {
      transform: scale(1.1);
    }
    & > img {
      width: 40px;
      height: 40px;
    }
    & > div {
      position: absolute;
      top: 0;
      right: 0;
      width: 20px;
      height: 20px;
      background: white;
      font-weight: bold;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__text {
    transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  &__img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    color: black;
    transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  &__button {
    display: flex;
    align-items: center;
    background: none;
    border: 2px solid black;
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
    background: white;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    & > .lk__text,
    .lk__img {
      z-index: 10;
    }
    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 105%;
      transform: scaleX(0) translateY(-20px);
      background: black;
      left: 0;
      top: 0;
      padding: 40px 0;
      transition: 0.7s cubic-bezier(0.19, 1, 0.22, 1);
      box-sizing: border-box;
      transform-origin: 0 0;
      z-index: 0;
    }
    &:hover {
      color: white;
      &::after {
        transform: scaleX(1) translateY(-20px);
      }
      & > .lk__img {
        color: white;
      }
    }
  }
}
